.mainLogo{
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top:5px;
}

h1{
    margin:0;
}

h1>a{
    color:white;
    display:inline-block;
    font:"Trebuchet MS";
    text-decoration:none;
    font-style: italic;
    font-weight:900;
    font-size:1.75em;
}

body{
    font:"Trebuchet MS";
}

.resultImage{
    height:100px;
    width:100px;
    margin-bottom:5px;
}

.resultImage>img{
    max-height:100px;
    max-width:100px;
}

.greyed-out{
    color:#aaa;
}

#map-canvas{
    height:300px;
}

.content{
    position: absolute;
    background-color:#968B78;
    left: 0;
    right: 0;
    bottom: 0;
    top:100px;
    background-repeat:repeat;
    overflow:scroll;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}

#map-container{
    overflow:visible;
}

.csj-hanging-tab{
    background-color:#F3F3F3;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.csj-small-margin{
    margin:5px;
}

#home-view-content{
    background-image:url(/content/scissors-tools-1000x666.jpg);
    background-repeat:no-repeat;
    position: absolute;
    background-color:#968B78;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    background-size:cover;
    vertical-align: middle;
    background-clip: content-box;
}

.full-parent-width{
    width:100%;
}

.no-show{
    display:none;
}

.ch-floating-content{
    border:40px solid rgb(178, 223, 219);
    border-radius:10px;
    background-color: rgb(178, 223, 219)
}

.nc-salon-card{
    padding-left:10px;
    padding-right:10px;
    height: 150px;
    margin:auto;
    width:960px;
}

/*.nc-salon-card-name{
    position:relative;
}

.nc-openFlag{
    position:absolute;
    bottom:10px;
    display:inline;
    padding:0;
}*/

.nc-card-column{
    height:100%;
    padding-top:5px;
    padding-bottom:5px;
    width:20%;
    min-width:100px;
}

.nc-card-column-large{
    width:60%;
    min-width:350px;
}

.nc-card-column-small{
    width:15%;
    min-width:75px;
}

#finding{
    padding-bottom:15px;
}

#finding>p{
    text-align: center;
}

#finding>md-progress-circular{
    margin:auto;
}

h3{
    float:left;
    /* using padding instead of margin because angular material design overrides margin for an h3 tag */
    padding-left:20px;
    max-width:45%;
}

#filter{
    float:right;
    margin-right:20px;
    max-width:45%;
}

md-list{
    clear:both;
}

.ratingStars{
    width:100px;
    height:20px;
    display:block;
}

.ratingStars-background{
    background-color:yellow;
    border-right:1px solid black;
}



@media screen and (max-width: 640px), screen and (max-height:640px){
    .content{
        top:65px;
    }

    #home-view-content {
        background: url(/content/scissors-tools-450x300.jpg);
        font-size:0.6em;
        background-size:cover;
        background-position:center;
    }
    .ch-floating-content{
        border:5px solid rgb(178, 223, 219);
        border-radius:2px;
        background-color: rgb(178, 223, 219)
    }

    .mainLogo{
        width: 60px;
        height: 60px;
        margin-left: 5px;
        margin-top:5px;
    }

    h1{
        margin:0;
        vertical-align: center;
    }

    h1>a{
        font-size:1.2em;
        margin:0;
    }

    .resultImage{
        height:75px;
        width:75px;
    }

    .resultImage>img{
        max-height:75px;
        max-width:75px;
    }


    .ratingStars{
        width:75px;
        height:15px;
    }
}