.mainLogo{
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top:5px;
}

h1>a{
    color:white;
    display:inline-block;
    font:"Trebuchet MS";
    text-decoration:none;
    font-style: italic;
    font-weight:900;
}

body{
    font:"Trebuchet MS";
}

.resultImage{
    height:160px;
    width:160px;
}

.content{
    padding-left:5px;
    padding-right:5px;
}

.greyed-out{
    color:#aaa;
}

#map-canvas{
    height:300px;
}

.content{
    position: absolute;
    background-color:#967f59;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat:repeat;
    overflow:scroll;
    padding-bottom:5px;
}

#map-container{
    overflow:visible;
}

.csj-hanging-tab{
    background-color:#FBFBFB;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.csj-small-margin{
    margin:5px;
}

#home-view-content{
    background-image:url(/content/scissors-tools-1000x666.jpg);
    background-repeat:no-repeat;
    position: absolute;
    background-color:#967f59;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    background-size:cover;
    vertical-align: middle;
    background-clip: content-box;
}

.full-parent-width{
    width:100%;
}

.no-show{
    display:none;
}

.ch-floating-content{
    border:40px solid rgb(178, 223, 219);
    border-radius:10px;
    background-color: rgb(178, 223, 219)
}

@media screen and (max-width: 640px), screen and (max-height:640px){
    #home-view-content {
        background: url(/content/scissors-tools-450x300.jpg);
        font-size:0.6em;
        background-size:cover;
        background-position:center;
    }
    .ch-floating-content{
        border:5px solid rgb(178, 223, 219);
        border-radius:2px;
        background-color: rgb(178, 223, 219)
    }

    .mainLogo{
        width: 60px;
        height: 60px;
        margin-left: 5px;
        margin-top:5px;
    }

    h1{
        margin:0.2em;
        vertical-align: center;
    }

    h1>a{
        font-size:0.6em;
        margin:0.2em;
    }
}