<div ng-controller="HomeViewController">
    <div id="home-view-content">
  <img src="content/placeholder-2121x1414.jpg" alt="" class="no-show">
        <md-card id="home-view-search" layout="row" layout-align="center center">
            <span class="ch-floating-content">
                <h2 class="md-display-3">Find your next haircut, wherever you are.</h2>
                <form name="userForm">
                    <md-input-container flex>
                        <label>Post Code</label>
                        <input ng-model="postcode" placeholder="your postcode" required>
                        <div ng-messages="postcode.$error">
                            <!-- <div ng-message="required">This is required.</div> -->
                        </div>
                    </md-input-container>
                    <md-button class="md-raised" ng-click="PostcodeLookup() ">Postcode search</md-button>
                </form>
                <md-button class="md-raised" ng-click="GoToResults()">Current location</md-button>
            </span>
        </md-card>
    </div>
    <div id="empty-map-canvas"></div>
</div>